* {
  margin: 0;
  padding: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

/*------------------ HEADER ---------------- */

.mainBanner {
  background-color: grey;
  background: linear-gradient(
    rgba(0, 0, 0, 0.45),
    rgba(0, 0, 0, 0.45)
  ),url('../img/banner.jpg');
  background-size:cover;
}

.mainHeader {
  text-align: center;
}

.mainLogo {
  max-width: 150px;
  max-height: 150px;
  width: 100%;
  height: 100%;
}

.mainTitle {
  color: white;
  font-size: 30px;
  font-family: "Kaushan Script";
}

.navbar {
  background-color: #1d1d1d;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 20px;
  /*border-top: 1px solid #ffd800;
  border-bottom: 1px solid #ffd800;*/
  margin-bottom: 20px;
  box-shadow: 0 -1px 8px 2px
}

.navbar a {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  padding: 20px;
  text-decoration: none;
}
.navbar a:hover {
  color: #ffd800;
}

/*------------------ MAIN ---------------- */

.hidden {
  display: none;
}

.float_right {
  float: right;
}

.relative {
  position: relative;
}

.movies_grid {
  display: inline-block;
  text-align: center;
}

.btn_more {
  text-align: center;
}

.vignette {
  justify-content: space-between;
  max-width: 220px;
  max-height: 300px;
  width: 100%;
  height: 100%;
  padding: 10px;
}

@media (max-width: 576px) {
  .vignette {
    justify-content: center;
    text-align: center;
  }
}

.btn_more_movies {
  padding: 10px;
  background-color: #1d1d1d;
  border: 1px solid black;
  text-decoration: none;
  color: white;
}

.btn_more_movies:hover {
  background-color: #ffd800;
  border: 1px solid orange;
  color: black;
}

@media (max-width: 991px) {
  .btn_more_movies {
    margin-bottom: 10px;
  }
}

/* ------------- CATÉGORIES ---------------- */

.widget_title {
  background-color: #1d1d1d;
  margin-bottom: 0;
  font-size: 30px;
}

.widget_title h2 {
  font-family: "Kaushan Script";
  font-size: 25px;
  color: white;
  margin-bottom: 0;
  padding-left: 5px;
}

.widget_title i {
  color: #ffd800;
  padding: 10px;
  border-right: 1px solid grey;
}

.search-form {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 8px 8px;
}

.search-form h2 i {
  color: #ffd800;
  border-right: 1px solid grey;
}

.input-group {
  padding: 10px;
}

.sub-category {
  color: white;
  background-color: #4d4d4d;
  padding: 0 4px;
  border-radius: 50px;
  margin: 0 6px;
}

.sub-category h3, .sub-category i {
  font-size: 20px;
  padding: 10px;
}

.sub-category h3 {
  font-family: 'Josefin Sans', sans-serif;
}

.sub-category i {
  cursor: pointer;
  border-left: 1px solid grey;
}

.search_category li {
  list-style: none;
  margin-left: 10px;
}

.search_category li label {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  display: block;
  padding-left: 20px;
  text-indent: -15px;
}

.search_category li input {
  margin-right: 6px;
  vertical-align: sub;
  position: relative;
  top: -1px;
  overflow: hidden;
}

.delete_all {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  margin-left: 15px;
}

/* ------------- CATÉGORIES ---------------- */

.search_category li label {
  margin: 0;
}

/*------------------ FOOTER ---------------- */

footer {
  background-color: #1d1d1d;
  padding: 30px;
  margin-top: 20px;
  width: 100%;
  position: relative;
}

.footer-center {
  justify-content: center;
}

.hr_footer {
  background-color: #666;
}

.footer_1, .footer_2, .footer_3, .footer_4 {
  color: white;
  justify-content: center;
  max-width: 300px;
  width: 100%;
  margin: 0 20px;
}

.footer_1 h2, .footer_2 h2, .footer_3 h2, .footer_4 h2 {
  font-size: 25px;
}

.copyright {
  color: rgba(255, 255, 255, 0.4);
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 20px;
}
